<!DOCTYPE html>

<div md-whiteframe="4" layout="row" style="height: 20px;" md-colors="{background: 'accent'}">

</div>

<div layout-margin>
    <span class="md-title">Sendungsnummer: 114535U51</span>
</div>

<div layout="row" layout-margin>
    <div layout="column">
        <span style="font-weight: bold; margin-bottom: 4px;">Produkt:</span>
        <span style="font-weight: bold; margin-bottom: 4px;">Empfänger:</span>
        <span style="font-weight: bold; margin-bottom: 4px;">Nächster Schritt:</span>
    </div>
    <div layout="column">
        <span style="margin-bottom: 4px;">Paket/Päckchen</span>
        <span style="margin-bottom: 4px;">Susi Langos</span>
        <span style="margin-bottom: 4px;">Sendung wird zur Auslieferung vorbereitet.</span>
    </div>
</div>

<div layout="row" style="max-width: 600px;" layout-margin>

    <div md-colors="{background: 'primary'}" md-whiteframe="4" flex="20" class="square" layout="row" layout-align="center center">
        <md-icon style="height: 80%; width: 80%;" md-svg-icon="cellphone-wireless"></md-icon>
    </div>

    <div md-colors="{background: 'primary'}" md-whiteframe="4" flex="20" class="square" layout="row" layout-align="center center">
        <md-icon style="height: 80%; width: 80%;" md-svg-icon="truck-fast"></md-icon>
    </div>

    <div md-colors="{background: 'primary'}" md-whiteframe="4" flex="20" class="square" layout="row" layout-align="center center">
        <md-icon style="height: 80%; width: 80%;" md-svg-icon="barcode-scan"></md-icon>
    </div>

    <div md-colors="{background: 'primary'}" md-whiteframe="4" flex="20" class="square" layout="row" layout-align="center center">
        <md-icon style="height: 80%; width: 80%;" md-svg-icon="transit-transfer"></md-icon>
    </div>

    <div md-colors="{background: 'primary'}" md-whiteframe="4" flex="20" class="square" layout="row" layout-align="center center">
        <md-icon style="height: 80%; width: 80%;" md-svg-icon="check-all"></md-icon>
    </div>
</div>

<md-table-container style="max-width: 600px">
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column><span>Datum/Uhrzeit</span></th>
            <th md-column><span>Ort</span></th>
            <th md-column><span>Status</span></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row>
            <td md-cell>26.09.18 11:35</td>
            <td md-cell>--</td>
            <td md-cell>Die Bestellung wurde elektronisch entgegengenommen.</td>
        </tr>
        <tr md-row>
            <td md-cell>27.09.18 07:30</td>
            <td md-cell>Avantgarde-Labs GmbH</td>
            <td md-cell>Die Sendung wurde dem Dienstleister übergeben.</td>
        </tr>
        <tr md-row>
            <td md-cell>27.09.18 08:00</td>
            <td md-cell>Avantgarde-Labs GmbH</td>
            <td md-cell>Die Sendung wurde im Start-Paketzentrum bearbeitet.</td>
        </tr>
        <tr md-row>
            <td md-cell>27.09.18 15:40</td>
            <td md-cell>--</td>
            <td md-cell>Die Sendung wird zum Ziel-Paketzentrum transportiert.</td>
        </tr>
        <tr md-row>
            <td md-cell>27.09.18 16:00</td>
            <td md-cell>August-Bebel-Straße</td>
            <td md-cell>Die Sendung wurde im Ziel-Paketzentrum bearbeitet.</td>
        </tr>
        <tr md-row>
            <td md-cell>29.09.18 19:30</td>
            <td md-cell>August-Bebel-Straße</td>
            <td md-cell>Die Sendung wurde ins Zustellfahrzeug verladen.</td>
        </tr>
        <tr md-row>
            <td md-cell>29.09.18 22:30</td>
            <td md-cell>Waldschlößchenstraße</td>
            <td md-cell>Empfänger war nicht anzutreffen. Paket wurde an Nachbar John Langos übergeben.</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

